<div>
  <div class="w-full min-h-[100vh] bg-[url('https://images.pexels.com/photos/1643402/pexels-photo-1643402.jpeg?auto=compress&cs=tinysrgb&w=1600')] bg-cover bg-center relative">
    <div class="absolute w-full h-full py-6 backdrop-blur-sm px-32">
      <div class="flex items-end h-full">
        <div class="w-full">
          <h2 class="text-white text-8xl font-light mb-4 border-b">
            EXPAND <br />
            OUR <br />
            HORIZONS
          </h2>
          <div class="text-white w-full">
            <ul class="flex justify-between">
              <li>
                <a routerLink="/">(Backpacks)</a>
              </li>
              <li>
                <a routerLink="/">(Equipment)</a>
              </li>
              <li>
                <a routerLink="/">(Shoes)</a>
              </li>
              <li>
                <a routerLink="/">(Jackets)</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="px-32">
    <div class="flex justify-between items-center border-b border-black py-12">
      <h3 class="text-xl">Our bestsellers</h3>
      <button class="border rounded-md px-2 py-1 border-black items-center">
        More
      </button>
    </div>
  </div>
  <div class="py-12 px-32">
    <lib-products-list />
  </div>
      <div class="grid grid-cols-2 h-screen">
        <div class="w-full min-h-[100vh] bg-[url('https://images.pexels.com/photos/9301666/pexels-photo-9301666.jpeg?auto=compress&cs=tinysrgb&w=800')] bg-cover bg-center relative">
          <div class="absolute w-full h-full py-6 px-32">
            <div class="flex items-end h-full">
              <div class="w-full flex">
                <h2 class="text-white text-8xl font-semibold">
                  FOR <br />
                  WALK
                </h2>
                <div class="text-white w-full flex flex-col justify-between">
                  <div>
                    <ul class="flex justify-between">
                      <li>
                        <a routerLink="/">(Bicycles)</a>
                      </li>
                      <li>
                        <a routerLink="/">(Equipment)</a>
                      </li>
                      <li>
                        <a routerLink="/">(Shoes)</a>
                      </li>
                    </ul>
                  </div>
                  <div class="flex justify-end">
                    <button class="border rounded-md px-4 py-1 text-xl">Shop</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full min-h-[100vh] bg-[url('https://images.pexels.com/photos/15782528/pexels-photo-15782528/free-photo-of-przeziebienie-zimny-snieg-drewno.jpeg?auto=compress&cs=tinysrgb&w=800')] bg-cover bg-center relative">
          <div class="absolute w-full h-full py-6 px-32">
            <div class="flex items-end h-full">
              <div class="w-full flex">
                <h2 class="text-white text-8xl font-semibold">
                  FOR <br />
                  RIDE
                </h2>
                <div class="text-white w-full flex flex-col justify-between">
                  <div>
                    <ul class="flex justify-between">
                      <li>
                        <a routerLink="/">(Bicycles)</a>
                      </li>
                      <li>
                        <a routerLink="/">(Equipment)</a>
                      </li>
                      <li>
                        <a routerLink="/">(Shoes)</a>
                      </li>
                    </ul>
                  </div>
                  <div class="flex justify-end">
                    <button class="border rounded-md px-4 py-1 text-xl">Shop</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div>
  </div>
  <div class="px-32 py-12 text-center">
    <div class="py-8 border-t border-b border-black">
      <h2 class="text-xl mb-5 italic">Are you ready for big advendutes? Let go of your boundries and come with us!</h2>
      <ul class="flex justify-center">
        <li class="me-2">
          <a routerLink="/">(Bicycles)</a>
        </li>
        <li class="me-2">
          <a routerLink="/">(Equipment)</a>
        </li>
        <li class="me-2">
          <a routerLink="/">(Shoes)</a>
        </li>
        <li class="me-2">
          <a routerLink="/">(Shoes)</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="w-full min-h-[100vh] bg-[url('https://images.pexels.com/photos/1583582/pexels-photo-1583582.jpeg?auto=compress&cs=tinysrgb&w=1600')] bg-cover bg-center relative">
    <div class="absolute w-full h-full py-6 backdrop-blur-sm px-32">
      <div class="flex justify-center items-center h-full">
        <div class="w-full">
          <h2 class="text-white text-6xl font-light text-center italic">
            Every step is an opportunity <br />
            for a new discrovery
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="px-32 py-12 grid grid-cols-2">
    <div class="flex flex-col justify-between">
      <div>
        <h2 class="text-8xl">
          Why <br /> 
          choose us?
        </h2>
      </div>
      <div>
        <button class="px-4 py-1 border rounded-md border-black">ABOUT US</button>
      </div>
    </div>
    <div>
      <ul>
        <li class="mb-6">
          <div>
            <h4 class="text-2xl mb-4 font-semibold">Reliability and quality</h4>
            <p class="text-gray-500">Our products are made from durable mateirals and have undergone rigorous testing, ensuring reliability and longevity</p>
          </div>
        </li>
        <li class="mb-6">
          <div>
            <h4 class="text-2xl mb-4 font-semibold">Reliability and quality</h4>
            <p class="text-gray-500">Our products are made from durable mateirals and have undergone rigorous testing, ensuring reliability and longevity</p>
          </div>
        </li>
        <li>
          <div>
            <h4 class="text-2xl mb-4 font-semibold">Reliability and quality</h4>
            <p class="text-gray-500">Our products are made from durable mateirals and have undergone rigorous testing, ensuring reliability and longevity</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
