<div>
  <div class="w-full min-h-[100vh] bg-[url('https://images.pexels.com/photos/967420/pexels-photo-967420.jpeg?auto=compress&cs=tinysrgb&w=1600')] bg-cover bg-center relative">
    <div class="absolute w-full h-full py-6 px-4 lg:px-16 xl:px-32">
      <div class="flex items-end h-full">
        <div class="w-full">
          <h2 class="text-white text-5xl lg:text-8xl font-light mb-4">
            ACCOUNT
          </h2>
          <div class="text-white w-full border-t pt-4 relative"></div>
        </div>
      </div>
    </div>
  </div>
    <div class="px-4 lg:px-16 xl:px-32 py-12 grid grid-cols-1 md:grid-cols-2">
    <div class="mb-4 md:mb-0">
      <lib-account-info />
    </div>
    <div>
      <p>HERE IS INFO ABOUT ORDERS</p>
    </div>
  </div>
</div>